{% extends 'login_layout.html' %}
{% block content %}
    <form method="post">
        <section>
            <h1>Create new announcement</h1>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">add</i>
                    {{ form.title }}
                    {{ form.title.label }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    {{ form.content(class = "materialize-textarea") }}
                    {{ form.content.label }}
                </div>

            </div>
        </section>
        <hr/>

        <section>
            <h4>Recipients</h4>

            <div class="row">
                <div class="col s12">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab col s3"><a class="active" href="#test1">Machakos University</a></li>
                        <li class="tab col s3"><a href="#test2">{{ current_user.department.name }}</a>
                        </li>

                    </ul>
                </div>

                <div id="test1" class="col s12 z-depth-1">
                    <p>Currently the only available option is to send to all students</p>
                    <label>
                        {{ form.recipients(class = "filled-in") }}
                        <span>All Students</span>
                    </label>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" disabled="disabled">
                            <span>First Years</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" disabled="disabled">
                            <span>Second Years</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" disabled="disabled">
                            <span>Third Years</span>
                        </label>
                    </p>
                </div>
                <div id="test2" class="col s12 z-depth-1">
                    <p>This option is currently not available</p>
                </div>
            </div>
            <button class="btn waves-effect waves-light red" type="submit" name="action"
                    onclick='document.getElementById("announcement_form").submit()'>Submit
                <i class="material-icons right">send</i>
            </button>
        </section>
    </form>
{% endblock %}