{% extends "base.html" %}
{% block body %}
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">FinalYear</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </nav>
  <main class="container">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    {% block content %}{% endblock %}
</main>
{% endblock %}