{% extends "base.html" %}
{% block body %}
<header>
    <nav>
        <div class="nav-wrapper ">
          <a href="#" class="brand-logo">FinalYear</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/logout"><i class="material-icons right">account_circle</i>Log Out</a></li>
          </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
</header>
<ul id="slide-out" class="sidenav sidenav-fixed invisible">
    <li><div class="user-view">
      <!-- <div class="background">
        <img src="https://picsum.photos/seed/picsum/200/300">
      </div> -->
      <a href="#user"><img class="circle" src="https://picsum.photos/id/237/200/300"></a>
      <a href="#name"><span class="name">{{ current_user.first_name + " " + current_user.last_name }}</span></a>
      <a href="#email"><span class="">{{ current_user.department.name+ " " + current_user.role }}</span></a>
    </div></li>

    <li><a href="/create_event"><i class="material-icons">event</i>Create new event</a></li>
    <li><a href="/createAnnouncement"><i class="material-icons">announcement</i>Create new announcement</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    {% block content %}{% endblock %}
</main>
{% endblock %}