<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <title>{{ title or 'Final Year' }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {#        <link type="text/css" rel="stylesheet" href="{{ url_for ('web.static', filename='simditor/styles/app.css') }}">#}
    <link type="text/css" rel="stylesheet" href="{{ url_for ('web.static', filename='simditor/styles/simditor.css') }}">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for ('.static', filename='css/materialize.css') }}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for ('web.static', filename='css/style.css') }}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<header>
    <nav>
        <div class="nav-wrapper ">
            <a href="#" class="brand-logo">FinalYear</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/logout"><i class="material-icons right">account_circle</i>Log Out</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>
<ul id="slide-out" class="sidenav sidenav-fixed invisible grey lighten-3">
    <li>
        <div class="user-view ">
            {#                <div class="background grey">#}
            {#                  <img src="https://picsum.photos/seed/picsum/200/300">#}
            {#                </div>#}
            <a href="#user"><img class="circle" src="https://picsum.photos/id/237/200/300"></a>
            <a href="#name"><span
                    class="name">{{ current_user.first_name + " " + current_user.last_name }}</span></a>
            {#                <p>{{ current_user.department.name }}<br/><span class="red-text">{{ current_user.role }}</span></p>#}
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Actions</a></li>

    <li><a href="/create_event"><i class="material-icons">event</i>Create new event</a></li>
    <li class="active"><a href="/createAnnouncement"><i class="material-icons">announcement</i>Create new
        announcement</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>

</ul>
<main>
    <form id='announcement_form' method="post" action="/announcement_recipient">
        <section>
            <h1 class="center-align">Create Announcement</h1>
            {{ form.hidden_tag() }}
            <div class="row">

                <div class="input-field col s12">
                    <i class="material-icons prefix">add</i>
                    {{ form.title(id = 'title') }}
                    {{ form.title.label }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    {{ form.content(class = "materialize-textarea", id='editor') }}
                </div>

            </div>
        </section>
        <hr/>
        <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">Edit</a></li>
            <li class="waves-effect" ><a id="rep">Recipients</a></li>
            <li class="disabled"><a href="#!">Send</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </form>
</main>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{{ url_for('.static', filename='js/jQuery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/materialize.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='simditor/scripts/module.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='simditor/scripts/uploader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='simditor/scripts/hotkeys.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='simditor/scripts/simditor.js') }}"></script>

<script>
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                M.toast({html: '{{ message }}'});
            {% endfor %}
        {% endif %}
    {% endwith %}

    $(document).ready(function () {
        $('.sidenav').sidenav();

        // Event listener for change of announcement form
        $("#announcement_form :input").change(function () {
            $('#event_form').data('changed', true);
        });

        Simditor.locale = 'en-US';
        const editor = new Simditor({
            textarea: $('#editor'),
            toolbar: [
                'title',
                'bold',
                'italic',
                'underline',
                'strikethrough',
                'fontScale',
                'color',
                'ol',
                'ul',
                'blockquote',
                'code',
                'table',
                'link',
                'image',
                'hr',
                'indent',
                'outdent',
                'alignment',
            ]
        });
        editor.on('valuechanged', function (e, src) {
            if ($('#announcement_form').data('changed')){
                return;
            }
            else {
                $('#announcement_form').data('changed', true);
            }
        })
        const title = document.getElementById('title');
        const content = document.getElementById('editor');

        $('#rep').click(function () {
            if (title.value.trim() == '') {
                M.toast({
                    html: "<strong>Announcement Title must be filled</strong>",
                    displayLength: 2000,
                    classes: "teal white-text rounded"
                });
                title.focus();
                return;
            }

            if (content.value.trim() == '') {
                M.toast({
                    html: "<strong>No content</strong>",
                    displayLength: 2000,
                    classes: "teal white-text rounded"
                });
                editor.focus();
                return;
            }
            if ($('#announcement_form').data('changed')){
                // Call save announcement with next_link to render announcement_recipient
                $('#announcement_form').attr('action', '/save_announcement/announcement_recipient');
                $('#announcement_form').submit();
            }
            else {
                $('#rep').attr('href', '/announcement_recipient');
                $('#rep').click();
            }

        })
    });
</script>

</body>
</html>