<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <title>{{ title or 'Final Year' }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for ('.static', filename='css/materialize.css') }}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for ('web.static', filename='css/style.css') }}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .card {
            margin: 10px;
            padding: 5px;
        }
    </style>
</head>

<body class="grey lighten-4">
<header>
    <nav>
        <div class="nav-wrapper ">
            <a href="#" class="brand-logo">FinalYear</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/logout"><i class="material-icons right">account_circle</i>Log Out</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>

<ul id="slide-out" class="sidenav sidenav-fixed invisible grey lighten-3">
    <li>
        <div class="user-view ">
            {#                <div class="background grey">#}
            {#                  <img src="https://picsum.photos/seed/picsum/200/300">#}
            {#                </div>#}
            <a href="#user"><img class="circle" src="https://picsum.photos/id/237/200/300"></a>
            <a href="#name"><span
                    class="name">{{ current_user.first_name + " " + current_user.last_name }}</span></a>
            {#                <p>{{ current_user.department.name }}<br/><span class="red-text">{{ current_user.role }}</span></p>#}
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Actions</a></li>

    <li class="active"><a href="/create_event"><i class="material-icons">event</i>Create new event</a></li>
    <li><a href="/createAnnouncement"><i class="material-icons">announcement</i>Create new announcement</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>

</ul>
<main>
    {% for permitted_course in permitted_courses %}
        <div class="card rounded">
            <h5>{{ permitted_course.course.name }}</h5>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active"
                                                  href="#express_{{ permitted_course.course.course_code }}">Express</a>
                        </li>
                        <li class="tab col s3"><a id="custom_tab_button_{{ permitted_course.course.course_code }}"
                                                  href="#custom_{{ permitted_course.course.course_code }}">Custom</a>
                        </li>
                    </ul>
                </div>

                <div id="express_{{ permitted_course.course.course_code }}" class="col s12">
                    <div class="row">
                        <p>
                            <label>
                                <input type="checkbox" id="all_at_{{ permitted_course.course.course_code }}"/>
                                <span>All levels</span>
                                <hr>
                            </label>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col sm6">
                            <p>
                                <label>
                                    <input id='1_at_{{ permitted_course.course.course_code }}'type="checkbox"/>
                                    <span>First Years</span>
                                </label>
                            </p>
                        </div>
                        <div class="col sm6">
                            <p>
                                <label>
                                    <input id='2_at_{{ permitted_course.course.course_code }}'type="checkbox"/>
                                    <span>Second Years</span>
                                </label>
                            </p>
                        </div>
                        <div class="col sm6">
                            <p>
                                <label>
                                    <input id='3_at_{{ permitted_course }}'type="checkbox"/>
                                    <span>Third Years</span>
                                </label>
                            </p>
                        </div>
                        <div class="col sm6">
                            <p>
                                <label>
                                    <input type="checkbox"/>
                                    <span>Forth Years</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="custom_{{ permitted_course.course.course_code }}" class="col s12">
                    <table id="custom_table_{{ permitted_course.course.course_code }}" class="hide">
                        <thead>
                        <tr>
                            <th>Admission Number</th>
                            <th>Student Name</th>
                            <th>Select</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div id="custom_loader_{{ permitted_course.course.course_code }}">
                        <p>Please wait while we query the database....</p>
                        <div class="preloader-wrapper big active center-align">
                            <div class="spinner-layer spinner-blue">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-red">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-yellow">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>

                            <div class="spinner-layer spinner-green">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
    <ul class="pagination center">
        <li class=""><a href="/create_event"><i class="material-icons">chevron_left</i></a></li>
        <li class=""><a href="/create_event">Edit</a></li>
        <li class="active" id="rep"><a href="#">Recipients</a></li>
        <li class="waves-effect"><a href="#!">Send</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</main>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{{ url_for('.static', filename='js/jQuery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/materialize.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.tabs').tabs();
        $('.sidenav').sidenav();
        {% for pc in permitted_courses %}
            const custom_tab_button_{{ pc.course.course_code }} = $('#custom_tab_button_{{ pc.course.course_code }}');
            custom_tab_button_{{ pc.course.course_code }}.one('click', function () {
                $.getJSON('/get_students', {course_code: '{{ pc.course.course_code }}'}, function (data) {
                    const table_body = $('#custom_table_{{ pc.course.course_code }}');
                    table_body.removeClass('hide');
                    console.log(data.length)
                    $('#custom_loader_{{ pc.course.course_code }}').addClass('hide');
                    data.forEach(function (student, index) {
                        table_body.find($('tbody')).append(`<tr><td>${student.adm_number}</td><td>${student.name}</td><td></td></tr>`);
                    })
                });
            });
        {% endfor %}
    });
</script>

</body>
</html>