{% extends "layout.html" %}
{% block content %}
    <h1>Register</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="input-field col s12">
              {{ form.username }}
              {{ form.username.label }}
            </div>
        </div>
            <div class="row">
                <div class="input-field col s6">
                  {{ form.password }}
                  {{ form.password.label }}
                </div>
                <div class="input-field col s6">
                    {{ form.confirm_password }}
                    {{ form.confirm_password.label }}
                </div>
              </div>
        <div class="row">
            {{ form.submit }}
        </div>
    </form>
{% endblock %}