body > header, body > main, body > footer {
    margin-left: 300px;
}

@media only screen and (max-width: 992px) {
    body > header, body > main, body >footer {
        margin-left: 0;
    }
}
body >footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
body > main {
    margin-bottom: 200px;
    padding: 10px;
}
.page-footer{
    padding-top: 0px;
}

.pagination li.active {
    background-color: #ff9800;
}
.tabs .tab a, .tabs .tab a.active {
    color: #ff9800;
}
.tabs .tab a:hover {
    color: #1a237e;
}

.collection-item span.badge {
    margin-top: calc(0.75rem - 11px);
}
span.badge.new-me {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
}