header, main, footer {
    margin-left: 300px;
}

section{
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen and (max-width: 992px) {
    header, main, footer {
        margin-left: 0;
    }
}
