{% extends 'web_app/base.html' %}
{% block body %}
    <nav class="indigo darken-4">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo orange-text">FinalYear</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('web_auth.login') }}" class="orange-text">Log in</a></li>
                <li><a href="{{ url_for('web_auth.register') }}" class="orange-text">Register</a></li>
            </ul>
        </div>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
{% endblock %}