{% extends 'web_app/auth/layout.html' %}
{% block content %}
    <h1 class="orange-text">Log in</h1>
    <form class="center row" method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                {{ form.username }}
                {{ form.username.label }}
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                {{ form.password }}
                {{ form.password.label }}
            </div>
        </div>
        <button class="btn waves-effect waves-light col s12 btn-large orange indigo-text text-darken-4" type="submit" name="action">Log in
        </button>
    </form>
{% endblock %}